<form [formGroup]="taskForm" (ngSubmit)="onCreateTask(taskForm.value)">
    <div class="input-fields">
        <div class="form-group">
            <h5>Task Title*</h5>
            <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="title">
        </div>
        <div class="form-group">
            <h5 class="label">Task Description* </h5>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
        </div>
    </div>


    <div class="radio-btn">

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="complete" value="completed"
                formControlName="status">
            <label class="form-check-label" for="inlineRadio1">Completed</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="pending" value="pending"
                formControlName="status">
            <label class="form-check-label" for="inlineRadio2">Pending</label>
        </div>
    </div>

    <div class="btn">
        <button type="submit" class="btn btn-success btn-lg">Add Task</button>
        <button type="submit" class="btn btn-info btn-lg" style="margin-left: 10px;" (click)="goHome()">Go Home</button>
    </div>
</form>



<router-outlet></router-outlet>