.radio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.input-fields {
  width: 80%;
  margin-left: 130px;
}

.input-fields .form-group {
  margin-top: 60px;
}

.input-fields .form-group h5 {
  text-align: center;
}

button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}