<div class="task-heading">
    <h1>Task Manager</h1>
</div>
<div class="create-task">
    <button type="button" class="btn btn-success btn-lg" type="button" routerLink="/create" routerLinkActive="Active">
        Create Task
    </button>
</div>

<div class="todo-app">
    <table class="todo-table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasksFromService;let i = index">
                <td> {{i+1}} </td>
                <td> {{task.title}}</td>
                <td> {{task.description}} </td>
                <td> {{task.status}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" (click)="onUpdateClick(task.id)">Edit</button>
                    <button type="button" class="btn btn-outline-danger" (click)="onDeleteClick(task.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="dlt"><button type="button" class="btn btn-danger btn-lg" (click)=onDeleteAll()>Delete All</button></div>


</div>
<router-outlet></router-outlet>